## Q1. Create one variable containing following type of data:

In [11]:

s = "abhi"
type(s)

str

In [7]:
list 

l = [1,2,3]
type(l)

list

In [13]:
float

f = 158.869
type(f)

float

In [15]:
tuple 

d = (549)
type(d)

int

## Q2. Given are some following variables containing data:

### (i) var1 = ‘ ‘
Ans string

In [28]:
var1 = " "

In [29]:
type(var1)

str

### (ii) var2 = ‘[ DS , ML , Python]’
ans string

In [30]:
var2 = "[ds,ml,python]"

In [31]:
type(var2)

str

## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
ans list

In [33]:
var3 = ["ds","ml","python"]

In [34]:
type(var3)

list

## (iv) var4 = 1.
ans float

In [36]:
var4 = 1.

In [37]:
type(var4)

float

## Q3. Explain the use of the following operators using an example:

## (i) /

### use for division

## (ii) %

### use for reminder

## (iii) //

### use for round of

## (iv) **

### use for power

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [52]:
l=[12,"what",457.59,[385],(2549),452,409.98,869,"house",[584]]

In [68]:
for k in l:
    print(k)
    print(type(k))

12
<class 'int'>
what
<class 'str'>
457.59
<class 'float'>
[385]
<class 'list'>
2549
<class 'int'>
452
<class 'int'>
409.98
<class 'float'>
869
<class 'int'>
house
<class 'str'>
[584]
<class 'list'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [72]:
k = [45, 58, 3, 56, 87, 15, 65, 478, 2654, 67, 2165, 594, 254, 472, 740, 585, 1821, 820, 5651, 206, 8253, 5512, 150, 541, 5455]
for i in k:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

45 is divisible by 3
58 is not divisible by 3
3 is divisible by 3
56 is not divisible by 3
87 is divisible by 3
15 is divisible by 3
65 is not divisible by 3
478 is not divisible by 3
2654 is not divisible by 3
67 is not divisible by 3
2165 is not divisible by 3
594 is divisible by 3
254 is not divisible by 3
472 is not divisible by 3
740 is not divisible by 3
585 is divisible by 3
1821 is divisible by 3
820 is not divisible by 3
5651 is not divisible by 3
206 is not divisible by 3
8253 is divisible by 3
5512 is not divisible by 3
150 is divisible by 3
541 is not divisible by 3
5455 is not divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [33]:
# Ans Immutable Data Types:
# Immutable data types are those whose values cannot be modified once they are assigned.
# Examples of immutable data types:

# Strings: In Python, strings are immutable. Once a string object is created, its value cannot be changed.

In [44]:
s = "hello world"
s.append(house)

AttributeError: 'str' object has no attribute 'append'

### string is immutable that,s why you can.t change any thing

## 2. Tuples are another example of an immutable data type in Python. Once a tuple is created, its elements cannot be modified.

In [48]:
t = (1,2,3)
t.append(9)

AttributeError: 'tuple' object has no attribute 'append'

##tuple is immutable that,s why you can.t change any thing

## Mutable Data Types:
## Mutable data types, on the other hand, allow modifications to their values after they are created.

## Lists: Lists in Python are mutable. Elements can be added, removed, or modified after the list is created

In [51]:
list = [1,2,3,4]
list.append(9)

In [52]:
list

[1, 2, 3, 4, 9]

### you can change any thing in list

## Dictionaries: Dictionaries in Python are also mutable. Key-value pairs can be added, removed, or modified after the dictionary is created.

In [68]:
dict1 = {"name": "John", "age": 25}
dict1["age"] = 30

In [65]:
dict1

{'name': 'John', 'age': 30}

### you can change any thing in dict

In [71]:
k = [45, 58, 3, 56, 87, 15, 65, 478, 2654, 67, 2165, 594, 254, 472, 740, 585, 1821, 820, 5651, 206, 8253, 5512, 150, 541, 5455]
for i in k:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

45 is divisible by 3
58 is not divisible by 3
3 is divisible by 3
56 is not divisible by 3
87 is divisible by 3
15 is divisible by 3
65 is not divisible by 3
478 is not divisible by 3
2654 is not divisible by 3
67 is not divisible by 3
2165 is not divisible by 3
594 is divisible by 3
254 is not divisible by 3
472 is not divisible by 3
740 is not divisible by 3
585 is divisible by 3
1821 is divisible by 3
820 is not divisible by 3
5651 is not divisible by 3
206 is not divisible by 3
8253 is divisible by 3
5512 is not divisible by 3
150 is divisible by 3
541 is not divisible by 3
5455 is not divisible by 3